@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@source '../**/*.{js,jsx,ts,tsx}';

@layer theme {
  @theme {
    --spacing-margin: 12px;

    --font-poppins: 'Poppins';

    --text-h100: 32px;
    --text-h100--line-height: 40px;
    --text-h100--letter-spacing: -0.5px;
    --text-h200: 28px;
    --text-h200--line-height: 36px;
    --text-h200--letter-spacing: -0.4px;
    --text-h300: 24px;
    --text-h300--line-height: 32px;
    --text-h300--letter-spacing: -0.3px;
    --text-h400: 20px;
    --text-h400--line-height: 28px;
    --text-h400--letter-spacing: -0.2px;
    --text-h500: 18px;
    --text-h500--line-height: 26px;
    --text-h500--letter-spacing: -0.1px;
    --text-h600: 16px;
    --text-h600--line-height: 24px;
    --text-h600--letter-spacing: 0px;

    --text-body-large: 16px;
    --text-body-large--line-height: 24px;
    --text-body-base: 14px;
    --text-body-base--line-height: 20px;
    --text-body-small: 12px;
    --text-body-small--line-height: 18px;
    --text-caption-default: 10px;
    --text-caption-default--line-height: 14px;
    --text-caption-default--letter-spacing: 0.1px;
    --text-caption-small: 8px;
    --text-caption-small--line-height: 12px;
    --text-caption-small--letter-spacing: 0.2px;
  }
}

@utility bg-primary {
  background-color: #1c1c1c;
}

@utility bg-secondary {
  background-color: #2e2e2e;
}

@utility bg-card {
  background-color: #2e2e2e;
}

@utility bg-input {
  background-color: #2e2e2e;
}

@utility bg-backdrop {
  background-color: rgb(0 0 0 / 0.5);
}

@utility text-primary {
  color: #fff;
}

@utility text-secondary {
  color: #ccc;
}

@utility text-active {
  color: #37d0b8;
}

@utility text-gray-dark {
  color: #999;
}

@utility text-gray-light {
  color: #f6f6f6;
}

@utility text-placeholder {
  color: #ccc;
}

@utility border-primary {
  border-color: #ccc;
}

@utility border-active {
  border-color: #37d0b8;
}
